{% extends 'layout.html' %}

{% block head %}
    <script src="{{ url_for('static', filename='js/app.js') }}" defer></script>
{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li>
                    <img src="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
                </li>
                <li class="nav-item active ml-2">
                    <a class="nav-link" href="#">Proman Boards<span class="sr-only">(current)</span></a>
                </li>
                {% if session['logged_in'] %}
                    <li class="nav-item ml-2">
                        <a class="nav-link" id="statistics" href="#">Create Private Board</a>
                    </li>
                    <li class="nav-item ml-2">
                        <a class="nav-link" href="/user-logout">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item ml-2">
                        <a class="nav-link" href="/registration">Registration</a>
                    </li>
                    <li class="nav-item ml-2">
                        <a class="nav-link" href="/user-login">Login</a>
                    </li>
                {% endif %}


            </ul>
            <span class="navbar-text mr-3">
                {% if session['logged_in'] %}
                    Signed in as {{ session['username'] }}
                {% else %}
                    Not signed in
                {% endif %}
            </span>
        </div>
    </nav>

    <div class="container mt-2">


        <div class="row">
            <div class="col-md-12">

                <div class="card-deck mb-3 text-center">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal float-left">Boards</h4>
                            <a href="" class="btn btn-success float-right" id="create-board" data-toggle="modal"
                               data-target="#template-modal">
                                <i class="fas fa-plus-circle"></i>
                                Create new board
                            </a>
                        </div>
                        <div class="card-body" id="boards-container">


                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="template-modal" tabindex="-1" role="dialog" aria-labelledby="templateModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="alert alert-danger float-left mb-0" role="alert">Please insert a title!</div>
                    <div class="alert alert-success float-left mb-0" role="alert">Title added successfully!</div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="user-data-modal" id="label-modal"></label>
                            <input type="text" class="form-control" id="user-data-modal" name="modal-data" required>
                        </div>
                        <button type="submit" class="btn btn-primary" id="modal-button">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--  End MODAL  -->
{% endblock %}